@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Lora&family=Poppins&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .sm-scrollbar::-webkit-scrollbar {
    @apply w-[8px] ml-10
  }

  .sm-scrollbar::-webkit-scrollbar-track {
    @apply bg-gray-300 rounded-[5rem]
}

  .sm-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-white rounded-[5rem] border-2 border-red-400 shadow-2xl  drop-shadow-2xl
}
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary-color: rgb(9,57,103)
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}



.featured_companies {

}